{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
    <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
    <form class="form-card" method="post">
    {% csrf_token %}
    <label for="titulo">Título</label>
    <input class="form-card-title" id="titulo" type="text" name="titulo"/>
    <label for="detalhes">Detalhes</label>
    <textarea id="detalhes" name="detalhes"></textarea>
    <input class="btn" type="submit" />
    </form>


    <div class="card-container">
        {% for note in notes %}
        <div class="card">
            <h3 contenteditable="true" class="card-title">{{note.title}}</h3>
            <div class="card-content">
              <p contenteditable="true">{{note.content}}</p>
            </div>
            <a href="delete/{{note.id}}" > X </a>
        </div>
        {% endfor %}
    </div>
    <!-- <div class="card-container">
        {% for note in notes %}
        <form class="card" method="post">
            {% csrf_token %}
            
            <h3><input class="card-title" id="titulo" type="text" name="titulo"/>{{note.title}}</h3>
            <div class="card-content">
                <p><textarea id="detalhes" name="detalhes">{{note.content}}</textarea></p>
            </div>

            <input class="btn" type="submit" />
            <a href="delete/{{note.id}}" > X </a>
        </form>
        {% endfor %}
    </div> -->
</main>
{% endblock %}